.box {
    border: black 0.5px solid;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 25px;
    text-align: center;
}

.row {
    display: block;
    float:left;
    width:100%;
}

#boxParent {
    width: 60%;
}

.right-side {
    display: block;
    width: 40%;
}


#color-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#chosen-color {
    margin: 0;
    margin-right: 10px;
}

#colorRange {
    margin: 0;
}

#form-text {
    width: 40%;
}

#text-label {
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
}

.main-wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}